<%= form_for @list do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title, value: @list.title %></p>
  <p><%= f.label :description %></p>
  <p><%= f.text_field :description, value: @list.description %></p>
  <p><%= f.submit %></p>
<% end %>
